<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>

    <nav>

    <a href="/">home</a>
    <a href="about">about</a>
    <a href="skills">skills</a>

    </nav>

    <%= yield %>
    <footer>Made by ALDANE PURRIER</footer>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
